.app {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    .navbar {
        display: flex;
        position: fixed;
        z-index: 100;
        background-color: rgba(167, 167, 167, 0.5);
        justify-content: space-evenly;
        @media (min-width: 700px) {
            flex-direction: column;
            $navbar-width: 60px;
            border-radius: $navbar-width / 2;
            height: 40vh;
            width: $navbar-width;
            top: 30vh;
            left: calc(98vw - $navbar-width);
            div#home:hover::after {
                content: 'Home';
            }
            div#person:hover::after {
                content: 'About me';
            }
            div#overview_key:hover::after {
                content: 'Works';
            }
            div#chat:hover::after {
                content: 'Contact me'
            }
            div:hover::before {
                content: '';
                position: absolute;
                left: -17px;
                height: 10px;
                width: 10px;
                background-color: white;
                rotate: 45deg;
            }
            div:hover::after {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                color: black;
                position: absolute;
                left: -160px;
                width: 150px;
                border-radius: 5px;
                height: 20px;
            }
        }
        @media (max-width: 699px) {
            $navbar-height: 55px;
            height: $navbar-height;
            width: 100vw;
            top: calc(100vh - $navbar-height);
            left: 0
            a{
                width: 100%;
            }
        }
        div {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                color: white;
            }
        }

        div:hover {
            cursor: pointer;
        }
        
        .active {
            color: red;
        }
    }

    .header {
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: row;
            p {
                z-index: 1;
                font-size: 24px;
                color: white;
                letter-spacing: 2px;
            }
            #surname {
                margin-left: 10px;
            }
            a{
                color: white;
                z-index: 1;
                i {
                    font-size: 24px;
                    margin-left: 10px;
                }
                :hover {
                    color: red;
                }
            }
            
        }

        @media (max-width: 700px) {
            flex-direction: column;
            justify-content: center;
        }
    }

    .transition {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;

        animation-name: slidein;
        animation-duration: 1s;
        @keyframes slidein {
            from {
                left: 100vw
            }
            to {
                left: 0
            }
        }
    }

    .transition-out {
        left: 100vw;
        animation-name: slideout;
        animation-duration: 1s;
        @keyframes slideout {
            from {
                left: 0
            }
            to {
                left: 100vw
            }
        }
    }
        
    .wrapper {
        $wrapper-width: 60vw;
        margin-left: (100vw - $wrapper-width) / 2;
        width: $wrapper-width;

        @media (max-width: 700px) {
            width: 90vw;
            margin-left: 5vw;
        }
    }

    .topLeftImg {
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        z-index: -1;
        mix-blend-mode: color-dodge;

        @media (max-width: 450px) {
            width: 100%;
        }
    }
}